* {
  box-sizing: border-box;
  margin: 0;
}

/* HEADER + NAV  */

header {
  height: 10vh;
  width: 100%;
  color: white;
  background-color: #066ab2;
}

header nav {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 2%;
}

header nav a {
  color: white;
  text-decoration: none;
  margin-left: 40px;
}

header nav a:hover {
  color: #0502c9;
  text-decoration: underline;
}

/* TITLE + PHOTO */

.profile-start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

#profil {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-start #profil h1 {
  text-align: center;
  font-size: 40px;
}

.profile-start #profil h2 {
  color: #3888c1;
  font-size: 35px;
  margin-top: 50px;
}

.profile-start img {
  width: 30%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile-start img:hover {
  transition: transform 4s;
  transform: scale(1.3);
  -webkit-transition: transform 4s;
  -moz-transition: transform 4s;
  -ms-transition: transform 4s;
  -o-transition: transform 4s;
  -webkit-transition: transform 5s;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
}

/* Présentation  */

.presentation {
  background-color: #066ab2;
  height: 35vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.presentation div {
  height: 80%;
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  line-height: 250%;
}
.presentation ul li {
  font-size: 20px;
  list-style: disc;
}

/* EXPERIENCES-PRO */

.exp-pro {
  width: 100%;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.exp-pro h1 {
  color: #3888c1;
  font-size: 40px;
}

.exp-pro #exp-part {
  height: 90%;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.exp-pro #exp-text {
  height: 80%;
  width: 60%;
  margin-top: 15px;
  line-height: 250%;
  font-size: 20px;
}

/* Section Formation */

.formation {
  background-color: #066ab2;
  height: 35vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formation #formation-bloc {
  width: 60%;
  height: 100%;
}

.formation h1 {
  margin-top: 3%;
}

.formation #formations-txt {
  margin-top: 45px;
  display: flex;
  justify-content: space-between;
  line-height: 55px;
  width: 100%;
  height: 70%;
  font-size: 24px;
}

/* Passions */

.passions {
  height: 35vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.passions h1 {
  color: #3888c1;
  font-size: 40px;
}

.passions #passions-bloc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  height: 60%;
}

#passions-txt {
  font-size: 24px;
}

/* FOOTER */

footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #066ab2;
  height: 25vh;
  width: 100%;
}

footer a {
  color: white;
}

footer #footer-bloc {
  margin-left: 2%;
  color: white;
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer #footer-bloc div {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  text-align: left;
}

@media screen and (max-width: 600px) {
  p {
    font-size: 15px;
  }
  h1 {
    text-align: center;
    font-size: 30px;
  }
  h2 {
    font-size: 20px;
    text-align: center;
  }

  #profil {
    width: 100%;
    flex-direction: column;
  }

  .header-link {
    display: none;
  }

  .presentation div,
  .formation #formations-txt,
  .exp-pro #exp-text {
    line-height: 25px;
  }

  /* Présentation Responsive */

  .presentation {
    align-items: center;
  }

  .presentation div {
    justify-self: center;
    align-items: center;
    width: 100%;
  }

  /* Expériences Pro Responsive */

  .exp-pro #exp-part {
    height: 100%;
    width: 100%;
  }

  .exp-pro #exp-text {
    height: 100%;
    width: 100%;
  }

  .exp-pro #exp-text p {
    font-size: 20px;
    line-height: 55px;
    text-align: center;
  }

  /* Formations Responsive */

  .formation #formation-bloc {
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
  }

  .formation #formations-txt {
    align-items: center;
  }

  /* Passions Responsive */

  .passions #passions-bloc {
    width: 80%;
  }

  /* Footer Reponsive */
  footer #footer-bloc {
    height: 60%;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    margin-left: 5%;
  }
}
