* {
  box-sizing: border-box;
  margin: 0;
}

/* HEADER + NAV  */

header {
  height: 10vh;
  width: 100%;
  color: white;
  background-color: #066ab2;
}

header nav {
  height: 100%;
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav a {
  color: white;
  text-decoration: none;
  margin-left: 40px;
}

/* TITLE + PHOTO */

.profile-start {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}

#profil {
  height: 100%;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-start #profil h1 {
  text-align: center;
  font-size: 40px;
}

.profile-start #profil h2 {
  color: #3888c1;
  font-size: 35px;
  margin-top: 50px;
}

.profile-start img {
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* Présentation  */

.presentation {
  background-color: #066ab2;
  height: 35vh;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.presentation div {
  height: 80%;
  width: 60%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  line-height: 25px;
}
.presentation ul {
  list-style: square;
}

/* EXPERIENCES-PRO */
